/* CSS Document */
body
{ 
  background-image: url(../imagenes/cielo.jpg);
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-position:center;
  text-align: center; 
  font-family: Tahoma, Arial, Geneva, sans-serif; 
  color:#797979;
}
#cont
{ 
   width: 100%;
   height: 100%; 
   margin: 0 auto 0 auto; 
   text-align: left;
}
#encabezado
{ 
   height: 5%; 
   margin-bottom: 5px; 
   width: 100%;
   background-image: url(../imagenes/fondo_cuadro1.png);
}
#cuadro1
{ 
   width: 49%; 
   height: 50%; 
   float: left; 
   background-image: url(../imagenes/fondo_cliente.png);
   margin:0 auto;color:#000;
   border:solid 0px #ddd;
   -moz-box-shadow:7px 8px 2px #333;
   -webkit-box-shadow:7px 8px 2px #333;
   box-shadow:7px 8px 2px #333;
   overflow-y: scroll;
   overflow-x: scroll;
}
#cuadro2
{ 
   width: 49%; 
   height: 50%;
   float: right; 
   background-image: url(../imagenes/fondo_finanzas.png);
   margin:0 auto;color:#000;
   border:solid 0px #ddd;
   -moz-box-shadow:7px 8px 2px #333;
   -webkit-box-shadow:7px 8px 2px #333;
   box-shadow:7px 8px 2px #333;
   overflow-y: scroll;
   overflow-x: scroll;
}
#cuadro3
{ 
   width: 49%; 
   height: 50%; 
   float: left;
   background-image: url(../imagenes/fondo_procesos.png);
   margin:15 auto;
   color:#000;
   border:solid 0px #ddd;
   -moz-box-shadow:7px 8px 2px #333;
   -webkit-box-shadow:7px 8px 2px #333;
   box-shadow:7px 8px 2px #333;
   overflow-y: scroll;
   overflow-x: scroll;
}

#cuadro4
{ 
   width: 49%; 
   height: 50%;
   float: right; 
   background-image: url(../imagenes/fondo_crecimiento.png);
   margin:15 auto;
   color:#000;
   border:solid 0px #ddd;
   -moz-box-shadow:7px 8px 2px #333;
   -webkit-box-shadow:7px 8px 2px #333;
   box-shadow:7px 8px 2px #333;
   overflow-y: scroll;
   overflow-x: scroll;
}

#encabezado h2
{ 
   font-family:'Palatino Linotype', 'Book Antiqua', Palatino, serif;
   padding-top: 7px;
   padding-left: 7px;
   font-size: 22px; 
   color: #000099; 
   font-weight: normal; 
}
#cuadro1 h2 span
{  
   color: #a7a7a7;   
}
#cuadro1 p
{
   font-size: 14px;
   font-family:"Times New Roman", Times, serif;
   padding-top: 3px;
   padding-left: 17px;
   color: #000; 
   font-weight: normal; 
}
#cuadro2 p
{
   font-size: 14px;
   font-family:"Times New Roman", Times, serif;
   padding-top: 3px;
   padding-left: 17px;
   color: #000; 
   font-weight: normal; 
}	   
#cuadro3 p
{
   font-size: 14px;
   font-family:"Times New Roman", Times, serif;
   padding-top: 3px;
   padding-left: 17px;
   color: #000; 
   font-weight: normal; 
}	   
#cuadro4 p
{
   font-size: 14px;
   font-family:"Times New Roman", Times, serif;
   padding-top: 3px;
   padding-left: 17px;
   color: #000; 
   font-weight: normal; 
}	   
	
#cuadro_chico_1
{ 
   width: 47%; 
   height: auto; 
   float: left; 
   background-image: url(../imagenes/fondo_cuadro1.png);
   margin:2px 0 0 10px;
   color:#000;
   border:solid 1px #434;
   -moz-box-shadow:3px 4px 2px #333;
   -webkit-box-shadow:3px 4px 2px #333;
   box-shadow:3px 4px 2px #333;
}

#cuadro_chico_2
{ 
   width: 47%; 
   height: auto;
   float: right; 
   background-image: url(../imagenes/fondo_cuadro1.png);
   margin:2px 10px auto;
   color:#000;
   border:solid 1px #434;
   -moz-box-shadow:3px 4px 2px #333;
   -webkit-box-shadow:3px 4px 2px #333;
   box-shadow:3px 4px 2px #333;
}

#cuadro_chico_3
{ 
   width: 47%; 
   height: auto; 
   float: left; 
   background-image: url(../imagenes/fondo_cuadro1.png);
   margin:7px 0 0 10px;
   color:#000;
   border:solid 1px #434;
   -moz-box-shadow:3px 4px 2px #333;
   -webkit-box-shadow:3px 4px 2px #333;
   box-shadow:3px 4px 2px #333;
}

#cuadro_chico_4
{ 
   width: 47%; 
   height: auto;
   float: right; 
   background-image: url(../imagenes/fondo_cuadro1.png);
   margin:7px 10px auto;
   color:#000;
   border:solid 1px #434;
   -moz-box-shadow:3px 4px 2px #333;
   -webkit-box-shadow:3px 4px 2px #333;
   box-shadow:3px 4px 2px #333;
}

.tabla 
{
font-family:"Times New Roman", Times, serif;
font-size:12px;
text-align: center;
width: 95%;
color:#333;
}

.tabla th {
padding: 1px;
font-weight:bold;
border-left-width: 1px;
border-top-width: 1px;
border-right-width: 1px;
border-bottom-width: 1px;
border-left-style: solid;
border-top-style: solid;
border-right-style: solid;
border-bottom-style: solid;
border-left-color: #FFF;
border-top-color: #FFF;
border-right-color: #474747;
border-bottom-color: #474747;
text-align:center;
} 

.tabla td {
padding: 1px;
font-weight:normal;
border-left-width: 1px;
border-top-width: 1px;
border-right-width: 1px;
border-bottom-width: 1px;
border-left-style: solid;
border-top-style: solid;
border-right-style: solid;
border-bottom-style: solid;
border-left-color: #FFF;
border-top-color: #FFF;
border-right-color: #474747;
border-bottom-color: #474747;
text-align:center;
} 

#cuadro_chico_1_n
{ 
   width: 47%; 
   height: auto; 
   float: left; 
   background-image: url(../imagenes/fondo_cuadro_naranja.png);
   margin:2px 0 0 10px;
   color:#000;
   border:solid 1px #434;
   -moz-box-shadow:3px 4px 2px #333;
   -webkit-box-shadow:3px 4px 2px #333;
   box-shadow:3px 4px 2px #333;
}

#cuadro_chico_2_n
{ 
   width: 47%; 
   height: auto;
   float: right; 
   background-image: url(../imagenes/fondo_cuadro_naranja.png);
   margin:2px 10px auto;
   color:#000;
   border:solid 1px #434;
   -moz-box-shadow:3px 4px 2px #333;
   -webkit-box-shadow:3px 4px 2px #333;
   box-shadow:3px 4px 2px #333;
}

#cuadro_chico_3_n
{ 
   width: 47%; 
   height: auto; 
   float: left; 
   background-image: url(../imagenes/fondo_cuadro_naranja.png);
   margin:7px 0 0 10px;
   color:#000;
   border:solid 1px #434;
   -moz-box-shadow:3px 4px 2px #333;
   -webkit-box-shadow:3px 4px 2px #333;
   box-shadow:3px 4px 2px #333;
}

#cuadro_chico_4_n
{ 
   width: 47%; 
   height: auto;
   float: right; 
   background-image: url(../imagenes/fondo_cuadro_naranja.png);
   margin:7px 10px auto;
   color:#000;
   border:solid 1px #434;
   -moz-box-shadow:3px 4px 2px #333;
   -webkit-box-shadow:3px 4px 2px #333;
   box-shadow:3px 4px 2px #333;
}

#cuadro_chico_1_v
{ 
   width: 47%; 
   height: auto; 
   float: left; 
   background-image: url(../imagenes/fondo_cuadro_verde.png);
   margin:2px 0 0 10px;
   color:#000;
   border:solid 1px #434;
   -moz-box-shadow:3px 4px 2px #333;
   -webkit-box-shadow:3px 4px 2px #333;
   box-shadow:3px 4px 2px #333;
}

#cuadro_chico_2_v
{ 
   width: 47%; 
   height: auto;
   float: right; 
   background-image: url(../imagenes/fondo_cuadro_verde.png);
   margin:2px 10px auto;
   color:#000;
   border:solid 1px #434;
   -moz-box-shadow:3px 4px 2px #333;
   -webkit-box-shadow:3px 4px 2px #333;
   box-shadow:3px 4px 2px #333;
}

#cuadro_chico_3_v
{ 
   width: 47%; 
   height: auto; 
   float: left; 
   background-image: url(../imagenes/fondo_cuadro_verde.png);
   margin:7px 0 0 10px;
   color:#000;
   border:solid 1px #434;
   -moz-box-shadow:3px 4px 2px #333;
   -webkit-box-shadow:3px 4px 2px #333;
   box-shadow:3px 4px 2px #333;
}

#cuadro_chico_4_v
{ 
   width: 47%; 
   height: auto;
   float: right; 
   background-image: url(../imagenes/fondo_cuadro_verde.png);
   margin:7px 10px auto;
   color:#000;
   border:solid 1px #434;
   -moz-box-shadow:3px 4px 2px #333;
   -webkit-box-shadow:3px 4px 2px #333;
   box-shadow:3px 4px 2px #333;
}

#cuadro_chico_1_r
{ 
   width: 47%; 
   height: auto; 
   float: left; 
   background-image: url(../imagenes/fondo_cuadro_rosa.png);
   margin:2px 0 0 10px;
   color:#000;
   border:solid 1px #434;
   -moz-box-shadow:3px 4px 2px #333;
   -webkit-box-shadow:3px 4px 2px #333;
   box-shadow:3px 4px 2px #333;
}

#cuadro_chico_2_r
{ 
   width: 47%; 
   height: auto;
   float: right; 
   background-image: url(../imagenes/fondo_cuadro_rosa.png);
   margin:2px 10px auto;
   color:#000;
   border:solid 1px #434;
   -moz-box-shadow:3px 4px 2px #333;
   -webkit-box-shadow:3px 4px 2px #333;
   box-shadow:3px 4px 2px #333;
}

#cuadro_chico_3_r
{ 
   width: 47%; 
   height: auto; 
   float: left; 
   background-image: url(../imagenes/fondo_cuadro_rosa.png);
   margin:7px 0 0 10px;
   color:#000;
   border:solid 1px #434;
   -moz-box-shadow:3px 4px 2px #333;
   -webkit-box-shadow:3px 4px 2px #333;
   box-shadow:3px 4px 2px #333;
}

#justificado 
{
  text-align:justify;
}
