*{
	margin: 0;
	padding: 0;
}

#banner{   
	position: absolute;   
}     

.oneByOne1{
	top: 10px;
	left: 16px;  
	background: ;	
	margin: 0;
	width: 980px;
	height: 510px;   
	position: relative;
	overflow: hidden;

}   

#banner .oneByOne_item{
	position: absolute;
	width: 980px;
	height: 510px;  
	overflow: hidden;  
}         
                      
#banner .oneByOne_item span{
	font-family: "Lucida Grande", "Lucida Sans Unicode", helvetica, verdana, arial, sans-serif;
}                                                                                              

#banner .oneByOne_item a{
	text-decoration: none;
	color: #B22222;
}

