<?xml version="1.0" encoding="Windows-1252"?>
<configuration>
  <system.web>
    <!--  DEPURACIÓN DINÁMICA DE COMPILACIÓN
          Establezca la depuración de compilación en="true" para habilitar la depuración ASPX. Si no, establezca este valor en false
          para mejorar el rendimiento en tiempo de ejecución de la aplicación. 
          Establezca la depuración de compilación en="true" para insertar símbolos de depuración (información .pdb)
          en la página compilada. Dado que este proceso crea un archivo grande que se ejecuta

          más despacio, debe establecer este valor en true durante la depuración y en

          false el resto del tiempo. Para obtener más información, vea la documentación acerca de

          la depuración de archivos ASP.NET.

    -->
    <compilation defaultLanguage="c#" debug="true"><assemblies><add assembly="CrystalDecisions.CrystalReports.Engine, Version=9.1.3300.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/><add assembly="CrystalDecisions.ReportSource, Version=9.1.3300.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/><add assembly="CrystalDecisions.Shared, Version=9.1.3300.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/><add assembly="CrystalDecisions.Web, Version=9.1.3300.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/></assemblies></compilation>
    <!--  MENSAJES DE ERROR PERSONALIZADOS
          Establecer los valores de modo customError para controlar la visualización de mensajes 
          de error sencillos para los usuarios en lugar de los detalles de error (incluida una pila de seguimiento):

          "On" Mostrar siempre mensajes personalizados (descriptivos)  
          "Off" Mostrar siempre información de error detallada de ASP.NET.
          "RemoteOnly" Mostrar mensajes personalizados (descriptivos) sólo a usuarios que no se estén ejecutando 
          en el servidor Web local. Se recomienda esta configuración por motivos de seguridad, por lo que 
          no se mostrará información detallada de la aplicación a clientes remotos.
    -->
    <customErrors mode="RemoteOnly"/>
    <!--  AUTENTICACIÓN 
          Esta sección establece las directivas de autenticación de la aplicación. Los modos existentes son "Windows", "Forms", 
          "Passport" y "None"
    -->
    <authentication mode="Windows"/>
    <!-- REGISTRO DE SEGUIMIENTO EN EL NIVEL DE APLICACIÓN
          El seguimiento en el nivel de aplicación habilita los resultados del registro de seguimiento para todas las páginas de una aplicación. 
          Establezca habilitar seguimiento en="true" para habilitar el registro de seguimiento. Si pageOutput="true", la
          información de seguimiento se mostrará en la parte inferior de cada página. Si no, puede ver el 
          registro de seguimiento de aplicación en la página "trace.axd" desde la raíz de la aplicación
          Web. 
    -->
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
    <!--  CONFIGURACIÓN DE ESTADO DE SESIÓN
          De forma predeterminada ASP.NET utiliza cookies para identificar qué solicitudes pertenecen a una sesión determinada. 
          Si las cookies no están disponibles, puede realizar el seguimiento de una sesión agregando un identificador de sesión en la dirección URL. 
          Para deshabilitar las cookies, establezca sessionState sin cookies como="true".
    -->
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;user id=sa;password=" cookieless="false" timeout="20"/>
    <!--  GLOBALIZACIÓN
          Esta sección establece la configuración de globalización de la aplicación. 
    -->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
  </system.web>
  <appSettings>
    <!--   La configuración de la aplicación de usuario y de la propiedad configurada van aquí.-->
    <!--   Ejemplo: <add key="settingName" value="settingValue"/> -->
    <add key="cadenaConexion" value="Provider=OraOLEDB.Oracle.1;Password=qawsedrf;Persist Security Info=True;User ID=desa_uas;Data Source=desarrollo;Extended Properties=&quot;&quot;"/>
    <add key="ruta_exportacion_pdf" value="C:\PDF\"/>
  </appSettings>
</configuration>
